/*
 *= require_tree .
 *= require_self
 */
.page-title {
    text-align: center;
}

 .simple-calendar {
    width: 90%;
    margin: 0 auto;
}

.calendar-heading {
    text-align: center;
}

.table.table-striped {
    margin: 0 auto;
}

.simple-calendar td,
.simple-calendar th {
    padding: 12px;
}

.workout-list {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

