/*
 *= require_tree .
 *= require_self
 */
.page-title {
    text-align: center;
}

 .simple-calendar {
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: whitesmoke;
    border-left: 30px double red;
    border-right: 30px double red;
    min-height: 100vh;
}

.calendar-heading {
    text-align: center;
}

.table.table-striped {
    margin: 0 auto;
}

.simple-calendar td,
.simple-calendar th {
    padding: 12px;
}

.workout-list {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.add-workout-button {
    color: whitesmoke;
    background-color: red;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

.add-workout-button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.add-workout-button:active {
    position: relative;
    top: 3px;
    box-shadow: none;
}

.workout-form {
    padding-left: 20px;
}